.vailcast-player {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.vailcast-player-video,
.vailcast-player-canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.vailcast-player-video {
  display: none;
}
